main {
    position: absolute;
    left: 300px;
    top: 100px;
    right: 37px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main .categories-pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 110%;
    padding-bottom: 35px;
}

main .categories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    padding-top: 130px;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    margin-bottom: 35px;
}

main .categories-container .option-card {
    background-color: white;
    color: black;
    width: 300px;
    margin-bottom: 12px;
    margin-right: 13px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 35px;
}

main .categories-container .option-card:hover {
    opacity: 0.7;
}
main .categories-container .option-card:active {
    opacity: 0.5;
}

main section .add-categorie {
    border: none;
    background-color: #142536;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -25px;
    width: 200px;
    right: 15px;
}

main section .delete-categorie {
    display: flex;
    border: none;
    background-color: rgb(218, 21, 21);
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -25px;
    left: 210px;
    width: 200px;
    margin-left: 25px;
}

main section .add-categorie:hover {
    opacity: 0.7;
}
main section .add-categorie:active {
    opacity: 0.7;
}

main section .search-bar {
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 10px rgba(78, 74, 74, 0.5);
}

@media (max-width:1000px) {
    main .categories-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:900px) {
    main .categories-container .option-card {
        width: 200px;
    }
}
@media (max-width: 550px) {
    main section .delete-categorie {
        top: 25px;
        left: 0;
    }
    main .categories-container {
        margin-top: 150px;
    }
}
@media (max-width: 500px) {
    main .categories-container {
        grid-template-columns: 1fr;
    }
    main .categories-container .option-card {
        width: 250px;
    }
    main section .delete-categorie {
        margin-left: 15px;
    }
}